<div class="nav__top-container">
  <div class="container">
    <nav class="nav nav__top" title="Top Navbar">
      <ul class="list-reset nav__list nav__top-list">
        <li class="nav__item nav__top-item">
          <a href="#" class="nav__link" data-scroll>
            Каталог
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="8" viewBox="0 0 9 8">
              <defs>
                <style>
                  .cls-1 {
                    fill: #ff5816;
                    fill-rule: evenodd;
                  }
                </style>
              </defs>
              <path id="Shape_1_copy" data-name="Shape 1 copy" class="cls-1" d="M593.5,24L589,16h9l-4.5,8"
                transform="translate(-589 -16)" />
            </svg>
          </a>
          <svg class="nav__item-vline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1" height="13"
            viewBox="0 0 1 13">
            <image id="Layer_753_copy_7" data-name="Layer 753 copy 7" width="1" height="13"
              xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAANCAYAAABo1wTyAAAAF0lEQVQImWMwMjL6z/D//38GclhGRv8Br50dAna5pvYAAAAASUVORK5CYII=" />
          </svg>
        </li>
        <li class="nav__item nav__top-item">
          <a href="#" class="nav__link" data-scroll>
            О компании
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="8" viewBox="0 0 9 8">
              <defs>
                <style>
                  .cls-1 {
                    fill: #ff5816;
                    fill-rule: evenodd;
                  }
                </style>
              </defs>
              <path id="Shape_1_copy" data-name="Shape 1 copy" class="cls-1" d="M593.5,24L589,16h9l-4.5,8"
                transform="translate(-589 -16)" />
            </svg>
          </a>
          <svg class="nav__item-vline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1" height="13"
            viewBox="0 0 1 13">
            <image id="Layer_753_copy_7" data-name="Layer 753 copy 7" width="1" height="13"
              xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAANCAYAAABo1wTyAAAAF0lEQVQImWMwMjL6z/D//38GclhGRv8Br50dAna5pvYAAAAASUVORK5CYII=" />
          </svg>
        </li>
        <li class="nav__item nav__top-item">
          <a href="#" class="nav__link" data-scroll>Оплата и доставка</a>
          <svg class="nav__item-vline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1" height="13"
            viewBox="0 0 1 13">
            <image id="Layer_753_copy_7" data-name="Layer 753 copy 7" width="1" height="13"
              xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAANCAYAAABo1wTyAAAAF0lEQVQImWMwMjL6z/D//38GclhGRv8Br50dAna5pvYAAAAASUVORK5CYII=" />
          </svg>
        </li>
        <li class="nav__item nav__top-item">
          <a href="#" class="nav__link" data-scroll>Гарантии и возврат</a>
          <svg class="nav__item-vline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1" height="13"
            viewBox="0 0 1 13">
            <image id="Layer_753_copy_7" data-name="Layer 753 copy 7" width="1" height="13"
              xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAANCAYAAABo1wTyAAAAF0lEQVQImWMwMjL6z/D//38GclhGRv8Br50dAna5pvYAAAAASUVORK5CYII=" />
          </svg>
        </li>
        <li class="nav__item nav__top-item">
          <a href="#" class="nav__link" data-scroll>Сотрудничество</a>
          <svg class="nav__item-vline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1" height="13"
            viewBox="0 0 1 13">
            <image id="Layer_753_copy_7" data-name="Layer 753 copy 7" width="1" height="13"
              xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAANCAYAAABo1wTyAAAAF0lEQVQImWMwMjL6z/D//38GclhGRv8Br50dAna5pvYAAAAASUVORK5CYII=" />
          </svg>
        </li>
        <li class="nav__item nav__top-item">
          <a href="#" class="nav__link" data-scroll>Услуги</a>
          <svg class="nav__item-vline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1" height="13"
            viewBox="0 0 1 13">
            <image id="Layer_753_copy_7" data-name="Layer 753 copy 7" width="1" height="13"
              xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAANCAYAAABo1wTyAAAAF0lEQVQImWMwMjL6z/D//38GclhGRv8Br50dAna5pvYAAAAASUVORK5CYII=" />
          </svg>
        </li>
        <li class="nav__item nav__top-item">
          <a href="#" class="nav__link" data-scroll>Решения</a>
          <svg class="nav__item-vline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1" height="13"
            viewBox="0 0 1 13">
            <image id="Layer_753_copy_7" data-name="Layer 753 copy 7" width="1" height="13"
              xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAANCAYAAABo1wTyAAAAF0lEQVQImWMwMjL6z/D//38GclhGRv8Br50dAna5pvYAAAAASUVORK5CYII=" />
          </svg>
        </li>
        <li class="nav__item nav__top-item">
          <a href="#" class="nav__link" data-scroll>Техподдержка</a>
          <svg class="nav__item-vline" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1" height="13"
            viewBox="0 0 1 13">
            <image id="Layer_753_copy_7" data-name="Layer 753 copy 7" width="1" height="13"
              xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAANCAYAAABo1wTyAAAAF0lEQVQImWMwMjL6z/D//38GclhGRv8Br50dAna5pvYAAAAASUVORK5CYII=" />
          </svg>
        </li>
        <li class="nav__item nav__top-item"><a href="#" class="nav__link" data-scroll>Контакты</a></li>
      </ul>
    </nav>
  </div>
</div>
